@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #141414;
}

#ft-welcome, #ft-login {
  height: 100svh;
}

#ft-welcome::before, #ft-login::before {
  content: "";
  background-image: url(/overlay.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 80%;
}

#ft-login::before{
  background-image: url(/overlay-login.svg);
  top: 0px;
  height: 40%;
}